# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
**/dist
# Node
**/node_modules
**/package-lock.json
# IDEs and editors
**/.idea
# Visual Studio Code
**/.vscode
# Miscellaneous
**/.angular
**/.browserslistrc
**/karma.conf.js
**/README.md
**/npm-debug.log
**/yarn-error.log
# System files
**/.DS_Store
# Ignore individual git ignore files
**/.gitignore
# Ignore all spec files
**/*.spec.ts

# Explanation:
# **/ means "any directory and subdirectory."
# *.spec.ts matches all .spec.ts files.