<!-- <app-interface-example></app-interface-example> -->
<!-- <app-custom-directive-example></app-custom-directive-example> -->
<!-- <app-social-media-share-btn-example></app-social-media-share-btn-example> -->
<!-- <app-ng2-pdf-viewer-example></app-ng2-pdf-viewer-example> -->
<!-- <app-btn-click-event-example></app-btn-click-event-example> -->
<!-- <app-highcharts-example></app-highcharts-example> -->
<!-- <app-amount-to-words-example></app-amount-to-words-example> -->
<!-- <app-date-format-example></app-date-format-example> -->
<!-- <app-async-pipe-example></app-async-pipe-example> -->
<!-- <app-custom-pipe-example></app-custom-pipe-example> -->
<!-- <app-routing-example></app-routing-example> -->
<app-structural-directive-example></app-structural-directive-example>

