<div class="container">
    <h1>Angular 18 Convert Date to mm/dd/yyyy Example - ItSolutionStuff.com</h1>
        
    <ul>
        <li><code ngNonBindable>{{ now | date: 'MM/dd/yyyy' }}</code> : {{ now | date: 'MM/dd/yyyy' }}</li>
        <li><code ngNonBindable>{{ now | date: 'dd/MM/yyyy' }}</code> : {{ now | date: 'dd/MM/yyyy' }}</li>
        <li><code ngNonBindable>{{ now | date: 'yyyy-MM-dd' }}</code> : {{ now | date: 'yyyy-MM-dd' }}</li>
        <li><code ngNonBindable>{{ now | date: 'HH:mm' }}</code> : {{ now | date: 'HH:mm' }}</li>
        <li><code ngNonBindable>{{ now | date: 'h:mm a' }}</code> : {{ now | date: 'h:mm a' }}</li>
        <li><code ngNonBindable>{{ now | date: 'MM/dd/yyyy HH:mm' }}</code> : {{ now | date: 'MM/dd/yyyy HH:mm' }}</li>
        <li><code ngNonBindable>{{ now | date: 'yyyy-MM-dd-HH-mm-ss' }}</code> : {{ now | date: 'yyyy-MM-dd-HH-mm-ss' }}</li>
        <li><code ngNonBindable>Custom Date Format</code> : {{ datemdY }}</li>
    </ul>
  
</div>